# Day 2: Dive!
Now, you need to figure out how to pilot this thing.

It seems like the submarine can take a series of commands like forward 1, down 2, or up 3:

* `forward X` increases the horizontal position by `X` units.
* `down X` increases the depth by `X` units.
* `up X` decreases the depth by `X` units.

Note that since you're on a submarine, down and up affect your depth, and so they have the opposite result of what you might expect.

In [1]:
import pandas as pd

In [44]:
def parse_instructions(lines):
    return [(line[0], line[1]) for line in lines]

sample_data = pd.read_csv("day2.sample.dat", header=None, sep = " ")
sample = parse_instructions(sample_data.values)
print(f'{len(sample)} samples')
display(sample_data.head())
day2_data = pd.read_csv("day2.dat", header=None, sep = " ")
day2 = parse_instructions(day2_data.values)
print(f'{len(day2)} day2')
display(day2_data.head())

6 samples

         0  1
0  forward  5
1     down  5
2  forward  8
3       up  3
4     down  8

1000 day2

         0  1
0  forward  9
1  forward  7
2  forward  4
3     down  7
4  forward  5

In [29]:
def move(instructions,x =0, y = 0):
    for direction, magnitude in instructions:
        if direction == "forward":
            x += magnitude
        elif direction == "up":
            y -= magnitude
        elif direction == "down":
            y += magnitude
    return (x,y)

Calculate the horizontal position and depth you would have after following the planned course. What do you get if you multiply your final horizontal position by your final depth?

In [43]:
x, y = move(sample)
print(f'({x},{y}) -> {x * y}')

if x*y != 150:
    raise ValueError("Sample should be 150")

(15,10) -> 150

In [31]:
x, y = move(day2)
print(f'({x},{y}) -> {x * y}')

(2052,1032) -> 2117664

## Part 2

Based on your calculations, the planned course doesn't seem to make any sense. You 
find the submarine manual and discover that the process is actually slightly more complicated.

In addition to horizontal position and depth, you'll also need to track a third value, `aim`, which also starts at 0. The commands also mean something entirely different than you first thought:

* `down X` increases your aim by X units.
* `up X` decreases your aim by X units.
* `forward X` does two things:
  * It increases your horizontal position by X units.
  * It increases your depth by your aim multiplied by X.

In [34]:
def aim(instructions,x =0, y = 0, aim = 0):
    for direction, magnitude in instructions:
        if direction == "forward":
            x += magnitude
            y += magnitude * aim
        elif direction == "up":
            aim -= magnitude
        elif direction == "down":
            aim += magnitude
    return (x,y)

Using this new interpretation of the commands, calculate the horizontal position and depth you would have after following the planned course. What do you get if you multiply your final horizontal position by your final depth?

In [37]:
x, y = aim(sample)
print(f'({x},{y}) -> {x * y}')

if x*y != 900:
    raise ValueError("Sample should be 900")

(15,60) -> 900

In [36]:
x, y = aim(day2)
print(f'({x},{y}) -> {x * y}')

(2052,1010437) -> 2073416724